alembic==1.7.4
anyio==3.3.4
APIFlask==0.10.0
apispec==5.1.1
Brotli==1.0.9
click==8.0.3
Flask==2.0.2
Flask-HTTPAuth==4.5.0
flask-marshmallow==0.14.0
Flask-Migrate==2.1.1
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
idna==3.3
importlib-metadata==4.8.1
importlib-resources==5.4.0
itsdangerous==2.0.1
Jinja2==3.0.2
Mako==1.1.5
MarkupSafe==2.0.1
marshmallow==3.14.0
passlib==1.7.4
psycopg2-binary==2.9.1
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.26
starlette==0.16.0
typing-extensions==3.10.0.2
webargs==8.0.1
Werkzeug==2.0.2
zipp==3.6.0
